.track {
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rightContainer {
    display: flex;
    align-items: flex-end; 
    margin-left: auto; 
}

.time {
    font-size: 10px;
    margin-right: 10px; 
    color: gray;
}
